.filter{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.filter select {
  padding: 0.6em;
  margin-bottom: 15px;
  background-color: #c0c0c0;
  color: #000;
  border: 3px solid #000;
  border-radius: 10px;
}




